@model EmployeeHR.ViewModels.PayrollViewModel

@{
    ViewBag.ActionName = Model == null ? "Create" : "Edit";
    ViewData["Title"] = ViewBag.ActionName ;
}

<h1>Create</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.ActionName">
            

            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" id="ddlEmployee" name="EmployeeId"
                        asp-items="@(new SelectList(ViewBag.EmployeeList,"Id","Name"))">
                    <option value="">-select Employee-</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input asp-for="BasicSalary" class="form-control"  name="BasicSalary"  readonly/>
                @* <span asp-validation-for="BasicSalary" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="PayrollDate" class="control-label"></label>
                <input asp-for="PayrollDate" class="form-control" id="PayrollDate" name="PayrollDate" />
                <span asp-validation-for="PayrollDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bonus" class="control-label"></label>
                <input asp-for="Bonus" class="form-control" id="Bonus" name="Bonus"
                       onchange="SalaryCalculation()"   />
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialSecurityAmount" class="control-label"></label>
                <input asp-for="SocialSecurityAmount"
                class="form-control" id="SocialSecurityAmount" name="SocialSecurityAmount" readonly value="0" />
                <span asp-validation-for="SocialSecurityAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaves" class="control-label"></label>
                <input asp-for="Leaves"
                class="form-control" id="Leaves" name="Leaves"  onchange="SalaryCalculation()"  />
                <span asp-validation-for="Leaves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetSalary" class="control-label"></label>
                <input asp-for="NetSalary" class="form-control" readonly value="0" id="NetSalary" name="NetSalary" />
                <span asp-validation-for="NetSalary" class="text-danger"></span>
            </div>

            @if (ViewBag.ActionName == "Edit")
            {

                <div class="form-group">
                    <label asp-for="TS" class="control-label"></label>
                    <input asp-for="TS" class="form-control" readonly  id="TS" name="TS"/>
                    <span asp-validation-for="TS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" readonly id="CreatedBy" name="CreatedBy" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
            }
            
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            //LoadData();
            $("#ddlEmployee").change(function () {
                //alert("");
                var employeeId = $("#ddlEmployee").val();

                $.ajax({
                    type: "GET",
                    url: '/Payroll/GetBasicSalary?employeeId=' + employeeId,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    success: function (response) {
                        alert("Data has been added successfully.");
                        document.getElementById("BasicSalary").value = response;
                        SalaryCalculation();
                        //LoadData();
                    },
                    error: function () {
                        alert("Error while getting data");
                    }
                });
                return false;
            });
        });

    </script>

}




<script>
    function SalaryCalculation(){

        var basicSalary = 500;// document.getElementById("BasicSalary").value;
        var bonus = document.getElementById("Bonus").value;
        var leaves = document.getElementById("Leaves").value;


        var txtSSAmount = document.getElementById("SocialSecurityAmount").value;
        SocialSecurityAmount.value = basicSalary * 0.075;
        var ssAmount = document.getElementById("SocialSecurityAmount").value;


        var txtNetSalary = document.getElementById("NetSalary").value;
        var leavesAmount = (basicSalary / 30 / 8) * leaves;

        NetSalary.value = (+basicSalary) + (+bonus) - (+ssAmount) - (+leavesAmount);
    }


</script>
